*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Linha de campos com flexbox */
.linha-campos {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.linha-campos label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
    display: block;
    font-weight: bold; /* Deixa o texto em negrito */
}

.linha-campos input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.linha-campos input:focus {
    border-color: #5b9bd5;
    outline: none;
}

/* Classe que define o campo como metade da largura */
.campo-metade {
    width: 48%; /* Cada campo ocupa metade da linha */
}

/* Remover o espaçamento da última linha */
.formulario-container .linha-campos:last-child {
    margin-bottom: 0;
}
